.grozis {
    margin: 10px;
    padding: 5px;
    background-color: pink;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.raudona{
    color: red;
    border: 1px solid red;
    margin-left: 50px;
}